*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 82px;
}

body {
  background-color: #444;
  position: relative;
  font-family: "Montserrat", sans-serif;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

.underline {
  margin: 0 auto 40px;
  width: 60px;
  height: 4px;
  background-color: #039dff;
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.8);
}

nav {
  transition: background-color 0.6s;
  z-index: 1;
}

.blue-text {
  color: #039dff;
}

.fa-solid {
  color: aqua;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-brand:hover {
  color: #039dff;
}

.nav-link {
  text-transform: uppercase;
  color: aqua;
}

.nav-link:hover {
  color: #039dff;
}

.navbar-collapse .navbar-nav .active {
  color: #039dff;
}

.fa-bars {
  padding: 10px;
}

header {
  color: aqua;
}
header .main-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  z-index: 5;
}
header .main-text h1 {
  text-transform: uppercase;
  text-align: center;
}
header .main-img {
  position: relative;
  height: 100vh;
  background-image: url("../img/bikesInMountainS.jpg");
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}
header .main-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -10;
}
header .btn-light {
  text-transform: uppercase;
}
header .fa-chevron-down {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  font-size: 30px;
  bottom: 20px;
  text-decoration: none;
}

.aboutus i {
  margin-top: 20px;
  font-size: 40px;
  color: black;
}
.aboutus .aboutus-card-title {
  font-size: 18px;
  text-transform: uppercase;
}
.aboutus .aboutus-card-text {
  font-size: 14px;
}
.aboutus .aboutus-hover {
  transition: color 0.3s;
}
.aboutus .aboutus-hover:hover {
  color: #039dff;
}

.aboutus-hero {
  position: relative;
  background-image: url("../img/bikeOnWayL.jpg");
  background-position: center;
  background-size: cover;
  color: aqua;
  z-index: 0;
}
.aboutus-hero .aboutus-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -5;
}
.aboutus-hero .aboutus-hero-item {
  margin: 10px 0;
}
.aboutus-hero .aboutus-hero-item i {
  font-size: 36px;
}
.aboutus-hero .aboutus-hero-item .aboutus-hero-title {
  font-size: 24px;
}

.specialoffer .offerts-box {
  margin: 20px 10px;
  padding: 30px;
  background-color: aqua;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s;
}
.specialoffer .offerts-box h3 {
  color: #039dff;
  text-transform: uppercase;
}
.specialoffer .offerts-box .offerfoto {
  position: relative;
  width: 100%;
  height: 100%;
}
.specialoffer .offerts-box span {
  font-weight: bold;
}
.specialoffer .offerts-box .oldprice {
  text-decoration: line-through;
}
.specialoffer .offerts-box button {
  padding: 10px 20px;
  text-transform: uppercase;
}
.specialoffer .offerts-box button a {
  text-decoration: none;
  color: aqua;
}
.specialoffer .offerts-box .price-tag {
  font-size: 30px;
  font-weight: bold;
}
.specialoffer .offerts-box:hover {
  transform: scale(1.05);
}
.specialoffer .offer-info {
  margin-top: 30px;
}
.specialoffer .offer-info a {
  text-decoration: none;
}

.servis {
  position: relative;
  background-image: url(../img/serwisS.jpg);
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}
.servis h2 {
  color: #ddd;
}
.servis .accordion-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -5;
}
.servis .accordion-button {
  letter-spacing: 5px;
  color: aqua;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.5);
  transition: transform 0.3s;
}
.servis .accordion-item {
  margin: 20px 10px;
  padding: 30px;
  text-align: left;
  color: aqua;
  background-color: rgba(0, 0, 0, 0);
}
.servis .accordion-button:hover {
  transform: scale(1.09);
}

.contact {
  position: relative;
  background-image: url(../img/sopotS.jpg);
  background-attachment: fixed;
  background-size: cover;
  z-index: 0;
}
.contact h2 {
  color: #ddd;
  font-weight: bold;
}
.contact .underline {
  color: #ddd;
  font-weight: bold;
}
.contact .contact-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -5;
}
.contact .contact-us {
  color: aqua;
  display: flex;
  align-items: center;
}
.contact .contact-us .contact-item {
  margin: 30px 0;
}
.contact .contact-us .contact-item h3 {
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (min-width: 768px) {
  header h1 {
    font-size: 40px;
  }
  header p {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  html {
    scroll-padding-top: 72px;
  }
  .aboutus-hero {
    background-image: url("../img/bikeOnWayS.jpg");
  }
  .specialoffer .offer-info {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  header .main-img {
    background-image: url("../img/bikesInMountainL.jpg");
  }
  .servis {
    background-image: url(../img/serwisL.jpg);
  }
  .contact {
    background-image: url(../img/sopotL.jpg);
  }
  .contact .contact-us h3 {
    font-size: 26px;
  }
  .contact .contact-us p {
    font-size: 19px;
  }
}/*# sourceMappingURL=style.css.map */