@import './colors';


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html { 
    scroll-padding-top: 82px;
}
body {
    background-color: #444;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    text-align: center;
    text-transform: uppercase;
}

.underline {
    margin: 0 auto 40px;
    width: 60px;
    height: 4px;
    background-color: $main-color;
}
.shadow-bg {

    background-color: rgba(0,0,0,.8);
    
}
nav {
    transition: background-color .6s;
    z-index: 1;
}

.blue-text {
    color: $main-color;

}


.fa-solid {
    color: $white;
}

.navbar-brand {
    
    font-weight: bold;
}
.navbar-brand:hover {
    color: $main-color;
    
}
.nav-link {
    text-transform: uppercase;
    color: $white;
    
}
.nav-link:hover {
    color: $main-color;
}
.navbar-collapse {
    .navbar-nav {
        .active {
            color: $main-color;
        }
    }
}
.fa-bars {
    padding: 10px;
    
}


header {
    color: $white;
    .main-text {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-direction: column;
        z-index: 5;
        h1 {
        text-transform: uppercase;
       text-align: center;
        }
    }
    .main-img {
        position: relative;
        height: 100vh;
        background-image: url('../img/bikesInMountainS.jpg');
        background-size: cover;
        background-attachment: fixed;
        z-index: 0;
    }
    .main-shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.8);
        z-index: -10;
    }
    .btn-light {
        text-transform: uppercase ;
        
    }
    .fa-chevron-down {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
        font-size: 30px;
        bottom: 20px;
        text-decoration: none;
    }

}


.aboutus {
    i {
        margin-top: 20px;
        font-size: 40px;
        color: black;
    }
    .aboutus-card-title {
        font-size: 18px;
        text-transform: uppercase;
    }
    .aboutus-card-text {
        font-size: 14px;
    }
  
    .aboutus-hover:hover {
        color: $main-color;
    }
}

.aboutus-hero {
    position: relative;
    background-image: url('../img/bikeOnWayL.jpg');
    background-position: center;
    background-size: cover;
    color: $white;
    z-index: 0;

    .aboutus-shadow {
        position: absolute;
        top: 0;
        width: 100%;height: 100%;
        background-color: rgba(0,0,0,.6);
        z-index: -5;
    }
    .aboutus-hero-item {
        margin: 10px 0;
        
        i {
            font-size: 36px;
        }
        .aboutus-hero-title {
            font-size: 24px;
        }
    }
}

.specialoffer {
    .offerts-box {
        margin: 20px 10px;
        padding: 30px;
        background-color: $white;
        box-shadow: 5px 5px 5px rgba(0,0,0,.4);
        transition: transform .3s;
        
        
        h3 {
            color: $main-color;
            text-transform: uppercase;
        }
        .offerfoto {
            position: relative;
            width: 100%;height: 100%;
        }
        span {
            font-weight: bold;

            
            
        }
        .oldprice {
            text-decoration: line-through;
        }
        button {
            padding: 10px 20px;
            text-transform: uppercase;
            a {
                text-decoration: none;
                color: $white;
            }
            
        }
        .price-tag {
            font-size: 30px;
            font-weight: bold;
        }

    }
    .offerts-box:hover {
        transform: scale(1.05);

    }
    .offer-info {
        margin-top: 30px;

        a {
            text-decoration: none;
        }
    }
    


}

.servis {
    position: relative;
    background-image: url(../img/serwisS.jpg);
    background-size: cover;
    background-attachment: fixed;
    z-index: 0;
    h2 {
        color: $light-gray;
    }
    .accordion-shadow {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.6);
        z-index: -5;
    }
   
    .accordion-button {
        letter-spacing: 5px;
        color: $white;
       text-transform: uppercase;
       background-color: rgba(0,0,0,.5);
       transition: transform .3s;
       
    
    }
    .accordion-item {
        margin: 20px 10px;
        padding: 30px;
        text-align: left;
        color: $white;
        background-color: rgba(0,0,0,0);
        
    }
 
 
    .accordion-button:hover {
        transform: scale(1.09);
    }
    }

    .contact {
        position: relative;
        background-image: url(../img/sopotS.jpg);
        background-attachment: fixed;
        background-size: cover;
        z-index: 0;

        h2 {
            color: $light-gray;
            font-weight: bold;
            
        }
        .underline {
            color: $light-gray;
            font-weight: bold;
        }
        .contact-shadow {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.6);
            z-index: -5;
        }
        .contact-us {
            color: $white;
            display: flex;
            align-items: center;
            .contact-item {
               margin: 30px 0;
            

            h3 {
                margin-bottom: 15px;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
        }
                    
                
            
        }

    }

@media(min-width: 768px) {
    header {
        h1 {
            font-size: 40px;
        }
    p {
        font-size: 20px;
    }
    }
}
@media(min-width: 992px) {
    html {
        scroll-padding-top: 72px;
    }

    .aboutus-hero {
        
        background-image: url('../img/bikeOnWayS.jpg');
        }
    .specialoffer {
        .offer-info {
            font-size: 18px;
        }
    }    
}
@media(min-width: 1200px) {
    header {
        .main-img {
        
            background-image: url('../img/bikesInMountainL.jpg');
        }
    }
    .servis {
        
        background-image: url(../img/serwisL.jpg);
    }
    .contact {
        
        background-image: url(../img/sopotL.jpg);
        .contact-us {
            h3 {
              font-size: 26px;  
            }
            p {
                font-size: 19px;
            }
        }
}



}